.headline {
  color: white;
  background-color: #0a0a0a;
  background-image: url('/assets/images/headline-background.jpg');
  background-repeat: no-repeat;
  background-position: center;

  @media #{$greater-than-l} {
    background-position: right;
  }

  &__container {
    display: flex;
    margin: 0 auto;
    max-width: $centered-page-width;

    min-height: 400px;

    @media #{$less-than-m} {
      flex-direction: column;
      min-height: 100px;
    }
  }

  &__title-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1.0em;
    justify-content: center;

    @media #{$greater-than-s} {
      flex: 50%;
    }
  }

  &__logo {
    height: 96px;
    margin-bottom: 0.25em;
  }

  &__title {
    font-size: 3.0em;
  }

  &__subtitle {
    font-size: 1.5em;
    font-style: italic;
  }

  &__action-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.0em;

    @media #{$greater-than-s} {
      flex: 50%;
    }
  }

  &__info {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 1.0em;
  }

  &__start-btn {
    border: 3px solid transparent;
    background-color: $ct-orange;
    color: black;
    font-size: 1.6em;
    letter-spacing: 1px;
    padding: 0.4em 3.5em;
    text-align: center;
    
    @media #{$less-than-s} {
      padding: 0.4em;
      width: 100%;
    }

    cursor: pointer;
    transition:
      background-color 0.5s ease,
      color 0.5s ease,
      border 0.5s ease;

    &:hover {
      border: 3px solid $ct-orange;
      background-color: black;
      color: $ct-orange;
    }
  }
}
