div(class='headline')
  div(class='headline__container')
    div(class='headline__title-box')
      img(class='headline__logo' src='assets/images/logo-white.svg')
      div(class='headline__title') Code Tour
      div(class='headline__subtitle') Show &amp; Tell for Code


    div(class='headline__action-box')
      div(class='headline__info').
        A better way to explain your code when you share it with your peers
      a(class='headline__start-btn' href='#download') Get Started
