div(class='benefits')
  div(class='benefits__header').
    Code Tour Combines
  div(class='benefits__aligner')

    div(class='benefits-li')
      img(class='benefits-li__icon' src='/assets/images/video-circle.svg')
      div(class='benefits-li__box')
        div(class='benefits-li__label') The Presence of a Video
        div(class='benefits-li__text').
          Video captures our attention with displays of motion and synchronized
          combinations of audio and visual media. Code Tour does the same with
          animations of code to help viewers follow along and an audio
          commentary playback along the way.

    div(class='benefits-li')
      img(class='benefits-li__icon' src='/assets/images/touch-circle.svg')
      div(class='benefits-li__box')
        div(class='benefits-li__label') The Interactivity of a Web App
        div(class='benefits-li__text').
          Key to any good web app is the ability for a user to control their
          experience. Code Tour allows users to adjust the playback pacing,
          display and focus of their viewing experience to best suit their
          needs.

    div(class='benefits-li')
      img(class='benefits-li__icon' src='/assets/images/order-circle.svg')
      div(class='benefits-li__box')
        div(class='benefits-li__label') The Structure of a Slide Deck
        div(class='benefits-li__text').
          We all absorb information better when it is organized into clear and
          concise chunks that build from beginning to end, which is why slide
          presentations are ubiquitous. Code Tour uses the same step-by-step
          format to guide viewers through the key points of your code.
