div(class='Example')
  div(class='Example__title') See it in Action
  div(class='Example__subtitle').
    The full-screen version is available
    <a class="Example__link" href="https://view.code-tour.com/1346/10cet60h35qug/">here</a>

  div(class='Example__embed-box')
    div(class='Example__embed')
      iframe(src='https://view.code-tour.com/1346/10cet60h35qug/')
  div(class='Example__subtitle').
    You can find more examples in the
    <a class="Example__link" href="/gallery/">gallery</a>